<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">


        <!-- extra font -->
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.7.2/css/all.css"
    integrity="sha384-fnmOCqbTlWIlj8LyTjo7mOUStjsKC4pOpQbqyi7RrhN7udi9RwhKkMHpvLbHG9Sr" crossorigin="anonymous">

        <!-- google font -->
    <link href="https://fonts.googleapis.com/css?family=Candal|Lora"            rel="stylesheet">

        <!-- stylesheet -->
    <link rel="stylesheet" href="./style/style.css">

    <title>Login</title>
</head>
<body>
    {{> navbar}}

    {{> loginpartial}}

    {{> footer}}
    
      <!-- jquery -->
      <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>   
</body>
</html>