<!DOCTYPE html>
<html lang="en">
<<<<<<< HEAD

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Just Tech News</title>
  <link rel="stylesheet" href="/stylesheets/style.css">
</head>

<body>
  <div class="wrapper">
    <header>
      <h1>
        <a href="/">Just Tech News</a>
      </h1>
      <nav>
        {{!-- if logged in the dashboard.handlebars will appear --}}
        {{#if loggedIn}}
        <a href="/dashboard">dashboard</a>
        <button id="logout" class="btn-no-style">logout</button>
        {{!-- if not logged in the user will only see the login button --}}
        {{else}}
        <a href="/auth/login">login</a>
        {{/if}}
      </nav>

    </header>
    <main>
      {{{ body }}}
    </main>
    <footer>
      Thanks for visiting!
    </footer>
  </div>

  {{#if loggedIn}}
  <script src="/javascript/logout.js"></script>
  {{/if}}
</body>

=======
<head>

    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    <!-- font 1 -->
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.7.2/css/all.css"
  integrity="sha384-fnmOCqbTlWIlj8LyTjo7mOUStjsKC4pOpQbqyi7RrhN7udi9RwhKkMHpvLbHG9Sr" crossorigin="anonymous">

    <!-- font 2 -->
    <link href="https://fonts.googleapis.com/css?family=Candal|Lora" rel="stylesheet">

    <!-- css file import -->
    <link rel="stylesheet" href="/stylesheets/style.css">

    <title>Over The Hill Gaming</title>

</head>
<body>
    {{> navbar}}

    <!-- page wrapper -->
    {{{ body }}}

            <!-- footer -->
            {{> footer}}

        <!-- jquery -->
  <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>

  <!-- slick carousel cdn -->
  <script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/slick-carousel/1.8.1/slick.min.js"></script>

</body>
>>>>>>> 32d790f83e3abeee96b2689cf7f8db76878a57de
</html>