<div class="page-wrapper">

    <!-- slider -->
    <div class="post-slider">
      <h1 class="slider-title">Trending Posts</h1>
      <i class="fas fa-chevron-left prev"></i>
      <i class="fas fa-chevron-right next"></i>

      <div class="post-wrapper">

        <div class="post">
          <img src="./assets/animal-crossing.jpg" alt="Animal Crossing for Gamecube" class="slider-image">
          <div class="post-info">
            <h4><a href="post.html">Lorem, ipsum dolor sit amet consectetur adipisicing elit. Veniam modi quidem voluptatum soluta voluptates.</a></h4>
            <i class="far fa-user"> Adam</i>
            &nbsp;
            <i class="far fa-calendar"> Nov 1st, 2021</i>
          </div>
        </div>

        <div class="post">
          <img src="./assets/lemmings.png" alt="Lemmings" class="slider-image">
          <div class="post-info">
            <h4><a href="post.html">Lorem, ipsum dolor sit amet consectetur adipisicing elit. Veniam modi quidem voluptatum soluta voluptates.</a></h4>
            <i class="far fa-user"> Chase</i>
            &nbsp;
            <i class="far fa-calendar"> Nov 1st, 2021</i>
          </div>
        </div>

        <div class="post">
          <img src="./assets/ocarina-of-time.jpg" alt="Ocarina of Time" class="slider-image">
          <div class="post-info">
            <h4><a href="post.html">Lorem, ipsum dolor sit amet consectetur adipisicing elit. Veniam modi quidem voluptatum soluta voluptates. </a></h4>
            <i class="far fa-user"> Cat</i>
            &nbsp;
            <i class="far fa-calendar"> Nov 1st, 2021</i>
          </div>
        </div>

        <div class="post">
          <img src="./assets/pinball.jpg" alt="Space Pinball" class="slider-image">
          <div class="post-info">
            <h4><a href="post.html">Lorem, ipsum dolor sit amet consectetur adipisicing elit. Veniam modi quidem voluptatum soluta voluptates.</a></h4>
            <i class="far fa-user"> James</i>
            &nbsp;
            <i class="far fa-calendar"> Nov 1st, 2021</i>
          </div>
        </div>

        <div class="post">
          <img src="./assets/super-mario-64.jpg" alt="Super Mario 64" class="slider-image">
          <div class="post-info">
            <h4><a href="post.html">Lorem, ipsum dolor sit amet consectetur adipisicing elit. Veniam modi quidem voluptatum soluta voluptates. Quibusdam dolor corrupti corporis voluptatem debitis exercitationem ea. Officia tenetur sit dolorem libero perferendis accusamus aut.</a></h4>
            <i class="far fa-user"> Manuel</i>
            &nbsp;
            <i class="far fa-calendar"> Nov 1st, 2021</i>
          </div>
        </div>


      </div>

    </div>

    <div class="content clearfix">

      <!-- main -->
      <div class="main-content">
        <h1 class="recent-post-title">Recent</h1>

        <div class="post clearfix">
          <img src="./assets/animal-crossing.jpg" alt="Animal Crossing on Gamecube" class="post-image">
          <div class="post-preview">
            <h2><a href="./post.html">Placeholder</a></h2>
            <i class="far fa-user"> Placeholder User</i>
            &nbsp;
            <i class="far fa-calendar"> Placeholder</i>
            <p class="preview-text">
              Lorem ipsum dolor sit amet consectetur, adipisicing elit.
              Exercitationem optio possimus a inventore maxime laborum.
            </p>
            <a href="post.html" class="btn read-more">Read More</a>
          </div>
        </div>

        <div class="post clearfix">
          <img src="./assets/lemmings.png" alt="Lemmings" class="post-image">
          <div class="post-preview">
            <h2><a href="./post.html">Placeholder</a></h2>
            <i class="far fa-user"> Placeholder</i>
            &nbsp;
            <i class="far fa-calendar"> Placeholder</i>
            <p class="preview-text">
              Lorem ipsum dolor sit amet consectetur, adipisicing elit.
              Exercitationem optio possimus a inventore maxime laborum.
            </p>
            <a href="post.html" class="btn read-more">Read More</a>
          </div>
        </div>
        <div class="post clearfix">
          <img src="./assets/ocarina-of-time.jpg" alt="Ocarina of Time" class="post-image">
          <div class="post-preview">
            <h2><a href="./post.html">Placeholder</a></h2>
            <i class="far fa-user"> Placeholder</i>
            &nbsp;
            <i class="far fa-calendar"> Placeholder</i>
            <p class="preview-text">
              Lorem ipsum dolor sit amet consectetur, adipisicing elit.
              Exercitationem optio possimus a inventore maxime laborum.
            </p>
            <a href="post.html" class="btn read-more">Read More</a>
          </div>
        </div>
        <div class="post clearfix">
          <img src="./assets/pinball.jpg" alt="Space Pinball" class="post-image">
          <div class="post-preview">
            <h2><a href="./post.html">Placeholder</a></h2>
            <i class="far fa-user"> Placeholder</i>
            &nbsp;
            <i class="far fa-calendar"> Placeholder</i>
            <p class="preview-text">
              Lorem ipsum dolor sit amet consectetur, adipisicing elit.
              Exercitationem optio possimus a inventore maxime laborum.
            </p>
            <a href="post.html" class="btn read-more">Read More</a>
          </div>
        </div>
      </div>

      <div  id= "quick-links" class="footer-section links">
        <h2>Quick Links</h2>
        <br>
        <ul>
          <a href="./login.html">
            <button>Login</button>
          </a>
          <br>
          <a href="#">
            <button>Contact Us</button>
          </a>
          <br>
          <a href="#">
            <button>Recent Post</button>
          </a>
          <br>
          <a href="./register.html">
            <button>Register</button>
          </a>
        </ul>
      </div>


      <div class="footer-section contact-form">
        <h2>Contact us</h2>
        <br>
        <form action="index.html" method="post">
          <input type="email" name="email" class="text-input contact-input" placeholder="Your email address...">
          <textarea rows="4" name="message" class="text-input contact-input" placeholder="Your message..."></textarea>
          <button type="submit" class="btn btn-big contact-btn">
            <i class="fas fa-envelope"></i>
            Send
          </button>
        </form>
      </div>